/* global css */
*{
    font-size: 30px;
    font-weight:500;
}
/* External css */
h3{
    color:blue;
}

/* element selrctor */
h4{
    color:palevioletred;
}

/* class selector */
.myclass{
    color:darkorange;
}

/* id selector */
#myid{
    color:mediumpurple;
}

/* group selctor */
h5,p{
    color:maroon;
}